<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
    <v-toolbar-title>DBD Reports</v-toolbar-title>
      <v-spacer></v-spacer>
      <router-link class="white--text mr-4" :to="{ name: 'MatchInfo' }">Match Input</router-link>
      <router-link class="white--text ml-4" :to="{ name: 'MatchStats' }">Stats</router-link>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
<!--      <snackbar></snackbar>-->
    </v-main>

<!--    <info-footer></info-footer>-->

    <v-main>

    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>
