<template>
  <v-container>
    <v-row>

      <!--      Left space-->
      <v-col cols="4" sm="2"></v-col>

      <v-col
          cols="12"
          sm="8"
          class="align-center"
      >
        <div class="flex text-center">
          <h1 class="my-4 mx-auto">End Match Details</h1>

          <v-switch
              class="justify-center"
              v-model="isSurvivor"
              label="Playing Survivor?"
          >
          </v-switch>

          <v-form
              @submit.prevent="saveMatch"
              ref="form"
              v-model="valid"
          >
            <v-row>

              <!--              Survivor Details-->
              <v-col cols="6">
                <v-checkbox
                    v-model="mainSurvivorEscaped"
                    label="Did you escape?"
                ></v-checkbox>
                <v-select
                    :items="survivorList"
                    label="Your Survivor"
                    v-model="survivorOne"
                    required
                    :rules="nameRules"
                >
                </v-select>
                <v-autocomplete
                  :items="survivorPerkList"
                  v-model="survivorOnePerks"
                  label="Survivor One Perks"
                  small-chips
                  multiple
                  outlined
                  deletable-chips
                  v-on:input="limiter"
                  >
                </v-autocomplete>

                <v-select
                    :items="survivorList"
                    label="Second Survivor"
                    v-model="survivorTwo"
                    required
                    :rules="nameRules"
                >
                </v-select>
                <v-autocomplete
                    :items="survivorPerkList"
                    v-model="survivorTwoPerks"
                    label="Survivor Two Perks"
                    small-chips
                    multiple
                    outlined
                    deletable-chips
                    v-on:input="limiter"
                >
                </v-autocomplete>

                <v-select
                    :items="survivorList"
                    label="Third Survivor"
                    v-model="survivorThree"
                    required
                    :rules="nameRules"
                >
                </v-select>
                <v-autocomplete
                    :items="survivorPerkList"
                    v-model="survivorThreePerks"
                    label="Survivor Three Perks"
                    small-chips
                    multiple
                    outlined
                    deletable-chips
                    v-on:input="limiter"
                >
                </v-autocomplete>

                <v-select
                    :items="survivorList"
                    label="Fourth Survivor"
                    v-model="survivorFour"
                    required
                    :rules="nameRules"
                >
                </v-select>
                <v-autocomplete
                    :items="survivorPerkList"
                    v-model="survivorFourPerks"
                    label="Survivor Four Perks"
                    small-chips
                    multiple
                    outlined
                    deletable-chips
                    v-on:input="limiter"
                >
                </v-autocomplete>
              </v-col>

              <!--              Killer Details-->
              <v-col cols="6">
                <v-checkbox
                    label="Toxic Survivors?"
                    v-model="toxicSurvivors"
                ></v-checkbox>
                <v-select
                    :items="killerList"
                    label="Killer"
                    v-model="killer"
                    required
                    :rules="nameRules"
                ></v-select>
                <v-autocomplete
                    :items="killerPerkList"
                    v-model="killerPerkValues"
                    label="Killer Perks"
                    small-chips
                    multiple
                    outlined
                    deletable-chips
                    v-on:input="limiter"
                >
                </v-autocomplete>
                <v-text-field
                  label="Bloodpoints"
                  v-model="bloodpoints"
                  ></v-text-field>
              </v-col>

            </v-row>

            <v-row>
              <v-col cols="6">
                <p class="my-4 mx-auto">More Details</p>
                <v-select
                    :items="fiveChoices"
                    label="How many escaped?"
                    v-model="numberEscaped"
                ></v-select>
                <v-select
                    :items="fiveChoices"
                    label="How many bleed outs?"
                    v-model="numberBleedOut"
                ></v-select>
                <v-select
                    :items="fiveChoices"
                    label="How many sacrifices?"
                    v-model="numberSacrificed"
                ></v-select>
                <v-select
                    :items="fiveChoices"
                    label="How many claimed by the entity?"
                    v-model="numberEGCEntity"
                ></v-select>
                <v-select
                    :items="fiveChoices"
                    label="Any mori deaths?"
                    v-model="numberMori"
                ></v-select>
<!--Items from Survivors-->
                Items
                <v-select
                    :items="fiveChoices"
                    label="How many medkits"
                    v-model="numberMedkits"
                ></v-select>
                <v-select
                    :items="fiveChoices"
                    label="How many toolboxes?"
                    v-model="numberToolboxes"
                ></v-select>
                <v-select
                    :items="fiveChoices"
                    label="How many flashlights?"
                    v-model="numberFlashlights"
                ></v-select>
                <v-select
                    :items="fiveChoices"
                    label="How many maps?"
                    v-model="numberMaps"
                ></v-select>
                <v-select
                    :items="fiveChoices"
                    label="How many keys?"
                    v-model="numberKeys"
                ></v-select>
              </v-col>
              <v-col cols="6">
                <v-checkbox
                    v-model="tunneled"
                    label="Someone get tunneled?"
                ></v-checkbox>
                <v-checkbox
                    v-model="hookCamped"
                    label="Any camping?"
                ></v-checkbox>
                <v-select
                    :items="fiveChoices"
                    label="How many disconnects?"
                    v-model="numberDisconnects"
                ></v-select>

                <!--              Map Select Info-->
                <v-select
                    label="Which realm?"
                    :items="realmsAndMapsList"
                    v-model="selectedRealm"
                    item-text="realm"
                    @change="spawnMap"
                ></v-select>
                <v-select
                    label="Select map"
                    :items="mapList"
                    v-model="selectedMap"
                ></v-select>
                <v-textarea
                    label="Any match details to record?"
                    v-model="matchNotes"
                    counter
                ></v-textarea>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="6">
                <v-btn
                    color="warning"
                    class="mr-4 mt-4"
                    outlined
                    @click="reset"
                >Reset</v-btn>
              </v-col>
              <v-col cols="6">
                <v-btn
                    :disabled="canNotSubmit"
                    color="success"
                    class="mt-4 mr-4"
                    outlined
                    type="submit"
                >Submit</v-btn>
              </v-col>
            </v-row>

          </v-form>

        </div>
      </v-col>

      <!--      right space-->
      <v-col cols="4" sm="2"></v-col>

    </v-row>
    <v-row>
      <v-col cols="6" sm="2">
        <p>{{ matchData }}</p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {survivorNames, survivorPerks, killerNames, killerPerks, realmsAndMaps} from '@/data/data'
// eslint-disable-next-line
import { postMatch } from '@/services/DBDService'

export default {
  name: "MatchInfo",
  data: () => ({
    debugText: "",
    canNotSubmit: false,
    isSurvivor: false,
    valid: false,
    mainSurvivorEscaped: false,
    survivorList: survivorNames,
    survivorPerkList: survivorPerks,
    killerList: killerNames,
    realmsAndMapsList: realmsAndMaps,
    killer: '',
    survivorOne: '',
    survivorOnePerks: [],
    survivorTwoPerks: [],
    survivorThreePerks: [],
    survivorFourPerks: [],
    survivorTwo: '',
    survivorThree: '',
    survivorFour: '',
    killerPerkList: killerPerks,
    killerPerkValues: [],
    bloodpoints: 0,
    numberEscaped: 0,
    numberBleedOut: 0,
    numberSacrificed: 0,
    numberEGCEntity: 0,
    numberToolboxes: 0,
    numberMedkits: 0,
    numberMaps: 0,
    numberKeys: 0,
    numberFlashlights: 0,
    fiveChoices: [0,1,2,3,4],
    numberMori: 0,
    tunneled: false,
    hookCamped: false,
    numberDisconnects: 0,
    matchNotes: '',
    selectedMap: null,
    selectedRealm: null,
    mapList: null,
    toxicSurvivors: false,
    matchData: null,
    createStatus: undefined,
    nameRules: [ v => !!v || 'Name is required']
  }),
  methods: {
    sortNames(inArray) {
      return inArray.sort((a, b) => a.localeCompare(b))
    },
    spawnMap(selectedRealm) {
      // console.log(`Received : ${selectedRealm.toString()}`)
      realmsAndMaps.forEach(element => {
        if(element.realm === selectedRealm) {
          // console.log(element.maps.toString())
          this.mapList = element.maps
        }
      })
    },
    reset() {
      this.$refs.form.reset()
      this.matchData = {}
    },
    limiter(e) {
      // console.log(`${e}, length: ${e.length}`)
      // console.log(`${this.survivorOnePerks}`)
      // console.log(`${typeof this.survivorOnePerks}`)
      if (e.length > 4) {
        e.pop()
      }
    },
    async saveMatch() {
      this.canNotSubmit = true
      let teamArray = `${this.survivorOne},${this.survivorTwo},${this.survivorThree},${this.survivorFour}`
      teamArray = teamArray.split(',')

      this.matchData = {
        isSurvivor: this.isSurvivor,
        mainSurvivorEscaped: this.mainSurvivorEscaped ? this.mainSurvivorEscaped : false,
        teamSurvivorIDs: teamArray,
        mainPerks: this.survivorOnePerks,
        survivorTwoPerks: this.survivorTwoPerks,
        survivorThreePerks: this.survivorThreePerks,
        survivorFourPerks: this.survivorFourPerks,
        numberEscaped: this.numberEscaped ? this.numberEscaped : 0,
        numberBleedOut: this.numberBleedOut ? this.numberBleedOut : 0,
        numberSacrificed: this.numberSacrificed ? this.numberSacrificed : 0,
        numberEGCEntity: this.numberEGCEntity ? this.numberEGCEntity : 0,
        numberMori: this.numberMori ? this.numberMori : 0,
        tunneled: this.tunneled ? this.tunneled : false,
        hookCamped: this.hookCamped ? this.hookCamped : false,
        numberToolboxes: this.numberToolboxes ? this.numberToolboxes : 0,
        numberMedkits: this.numberMedkits ? this.numberMedkits : 0,
        numberMaps: this.numberMaps ? this.numberMaps : 0,
        numberKeys: this.numberKeys ? this.numberKeys : 0,
        numberFlashlights: this.numberFlashlights ? this.numberFlashlights : 0,
        killerID: this.killer,
        killerPerks: this.killerPerkValues,
        bloodpoints: Number(this.bloodpoints),
        toxicSurvivors: this.toxicSurvivors ? this.toxicSurvivors : false,
        numberDisconnects: this.numberDisconnects ? this.numberDisconnects : 0,
        matchNotes: this.matchNotes,
        realm: this.selectedRealm,
        map: this.selectedMap
      }
      console.log(this.matchData)

      this.createStatus = await postMatch(this.matchData)

      if (this.createStatus.data.status !== 'success') {
        // report error
        console.log(`ERROR creating match data, please try again.`)
      } else {
        // reset form and await next input
        console.log(`Success reported from match data post.`)
        this.reset()
      }
      this.canNotSubmit = false
    }
  },
  beforeMount() {
    this.survivorList = this.sortNames(this.survivorList)
    this.killerList = this.sortNames(this.killerList)
  },
  computed: {}
}
</script>

<style scoped>
.vl {
  border-left: 3px solid white;
  height: 450px;
  left: 50%;
}
</style>