<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="800" height="600"
            src="https://charts.mongodb.com/charts-project-0-kovep/embed/charts?id=629b95d8-187c-49fc-8df9-f804b94ebfe6&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      </v-col>
      <v-col cols="6">
        <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="800" height="600"
            src="https://charts.mongodb.com/charts-project-0-kovep/embed/charts?id=629bad8e-5bf7-4ebe-8fe5-e4f7d3b7d00a&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="6">
        <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="800" height="600"
            src="https://charts.mongodb.com/charts-project-0-kovep/embed/charts?id=62df5c6e-6bae-47b8-8f6e-c7474e8a86e7&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      </v-col>
      <v-col cols="6">
        <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="800" height="600"
            src="https://charts.mongodb.com/charts-project-0-kovep/embed/charts?id=62e301f5-689c-48a1-87bd-018404c199de&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="6">
        <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="800" height="600"
            src="https://charts.mongodb.com/charts-project-0-kovep/embed/charts?id=62e49467-5694-44d0-8ebc-5999c2bc04db&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      </v-col>
      <v-col cols="6">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
                width="800" height="600"
                src="https://charts.mongodb.com/charts-project-0-kovep/embed/charts?id=62f0266b-002a-448e-839e-876bb12c4398&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "MatchStats"
}
</script>

<style scoped>

</style>